div{
    width: 800px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(https://pbs.twimg.com/profile_images/988272404915875840/lE7ZkrO-_400x400.jpg);
}
.number1{
    background-size: contain;
}
.number2{
    background-size: cover;
}